@mixin setting-item-wrapper-hide() {
    transition: all 0.1s;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    height: 100px;
}

.theme-wrapper-hide {
    @include setting-item-wrapper-hide()
}

.hide-wrapper-font{
    @include setting-item-wrapper-hide()
}

.set-hide {
    @include setting-item-wrapper-hide();
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
    border-radius: 10px;
    text-transform: uppercase;
}


.setting-animation-enter {
    opacity: 0;
    transform: translateX(-50px);
    transition: .1s all;
  }
  
  
.setting-animation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 100ms, transform 100ms;
  }
  
  .setting-animation-exit {
    transition: .1s all;
    opacity: 1;
  }
  
  
  .setting-animation-exit-active {
    opacity: 0;
    transition: translateX(-50px);
    transition: opacity 100ms, transform 100ms;
  }