.origin-range[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 150px;
  height: 7px;
  background: #2a3344;
  box-shadow: 1px 1px 14px rgb(209 0 160 / 76%);
  border-radius: 5px;
}

.origin-range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ec4899;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.light-range[type="range"] {
  -webkit-appearance: none;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.76);
  margin-right: 15px;
  width: 150px;
  height: 7px;
  background: #7e7e7e;
  border-radius: 5px;
}

.light-range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000000;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.dark-range[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  box-shadow: 1px 1px 14px rgba(255, 255, 255, 0.76);
  width: 150px;
  height: 7px;
  background: #414141;
  border-radius: 5px;
}

.dark-range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}